.country {
  border: 2px solid blueviolet;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
}
.img {
  width: 300px;
  height: 150px;
}

.visited {
  background-color: aqua;
  color: black;
}

.btn {
  margin: 10px;
  padding: 10px;
}
.btn-visited {
  background-color: rgb(138, 15, 15);
  border: 2px solid white;
  margin: 10px;
  color: white;
}
.flag-container img {
  width: 120px;
  height: 80px;
  margin: 5px;
}
